﻿@model Work_01.Models.Product
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<div class="row">
    <div class="col-md-12">
        @*<form method="post" action="/Products/Create">
            <div>
                Product Name : <input type="text" name="productName" />
            </div>
            <div>
                Unit Price : <input type="text" name="unitPrice" />
            </div>
            <div>
                Discontinued : <input type="checkbox" name="discontinued" value="true" />
            </div>
            <div>
                <input type="submit" value="Save"/>
            </div>
        </form>*@

        @using (Html.BeginForm())
        {
            <div class="form-group">
                @Html.LabelFor(x => x.ProductName, new { @class = "control-label" })
                @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.ProductName)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.UnitPrice, new { @class = "control-label" })
                @Html.TextBoxFor(x => x.UnitPrice, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.UnitPrice)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Discontinued, new { @class = "control-label" })
                @Html.CheckBoxFor(x=>x.Discontinued)
                @Html.ValidationMessageFor(x => x.Discontinued)
            </div>
            <div class="form-group">
              <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        }
    </div>
</div>