﻿@model IEnumerable<Work_01.Models.Product>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="row">
    <div class="col-md-12">
        <div class="text-right" style="padding-bottom:12px">
            @Html.ActionLink("Create New","Create","Products")
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(x => x.ProductName)</th>
                    <th>@Html.DisplayNameFor(x => x.UnitPrice)</th>
                    <th>@Html.DisplayNameFor(x => x.Discontinued)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@Html.DisplayFor(x => item.ProductName)</td>
                    <td>@Html.DisplayFor(x => item.UnitPrice)</td>
                    <td>@Html.DisplayFor(x => item.Discontinued)</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
