﻿@{
    ViewData["Title"] = "About";
    var fr = ViewBag.frs;
    var fr2 = (string[])ViewData["fa"];
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h3>@ViewData["msg"]</h3>

<p>Use this area to provide additional information.</p>
<h1 class="alert alert-info">Welcome to ASP .Net Core MVC Course at People NTech Limited</h1>
<select class="form-control">
    <option value="1">HTML</option>
    <option value="2">CSS</option>
    <option value="3">JS</option>
</select>
@foreach (var f in fr)
{
    <h2>@f</h2>
}
<br />
@foreach (var f2 in fr2)
{
    <h2>@f2</h2>
}