﻿@model IEnumerable<Work_01.Models.FileInformation>
@{
    ViewData["Title"] = "FileInformation";
}

<h2>FileInformation</h2>

<div class="row">
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Id No</th>
                <th>File Name</th>
                <th>File Extention</th>
                <th>File Path</th>
                <th>File Size</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Extention</td>
                <td>@item.Path</td>
                <td>@item.Size</td>
            </tr>
            }
        </tbody>
    </table>
</div>